*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --bg-color:#191f36;
    --snd-bf-color:#262B40;
    --text-color:#fff;
    --main-color:#59B2F4;
}

html{
    overflow-x: hidden;
}

body{
    background: #080808;
    color: #fff;
}

#header{
    width: 100%;
    height: 59rem;
    background-image: url(image.png);
    background-size: cover;
    background-position: right;
    padding: 10px 10;
}
.logo{
    width: 200px;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: right;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    color:bisque;
    text-decoration: none;
    font-size: 30px;
    position: relative;
}
nav ul li a:after{
    content: ' ';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h3{
    margin-top: 20px;
}

.header-text span{
    color:#ff004f;
    font-size: 3rem;
}
.home-content p{
    font-size: 1.6rem;
}
.socila-links a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 25px;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
    text-decoration: none;
}
.socila-links a:hover{
    background: var(--main-color);
    color: var(--snd-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
}

.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background: var(--main-color);
    border-radius: 40px;
    font-size: 16px;
    color: #262626;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 600;
}

.btn-box:hover{
    box-shadow: 0 0 5px rgb(0, 200, 255),
    0 0 25px  rgb(0, 200, 255), 0 0 50px  rgb(0, 200, 255),
    0 0 100px  rgb(0, 200, 255), 0 0 200px  rgb(0, 200, 255)
    
}

/* ABOUT */

#about{
    padding: 80px 0;
    color: beige;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col1{
    flex-basis:35%;
}
.about-col1 img{
    animation: floatImage 4s ease-in-out infinite;
    width: 100%;
    border-radius: 15px;
}
@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
}

.about-col2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color:#fff;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;    
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    font-size: 15px;
}
.tab-contents ul li span{
    color: #b54769;
    font-size: 20px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}


/* services */

#services{
    padding: 30px 0;
}
.services h1{
    margin-top: 12rem;;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s,transform 0.5s;

}
.services-list div i{
    font-size: 3rem;
    margin-bottom: 30px;
}

.services-list div p{
    font-size: 1.5rem;
}
.services-list div h2{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 15px;
    color: #ff004f;
}
.services-list div a{
    text-decoration: none;
    color:red;
    font-size: 2rem;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background:rgb(79, 42, 165);
    transform: translateY(10px);

}



/* PORTFOLIO */


#portfolio{
    padding: 50px 0;
    
}

.portfolio h1{
    margin-top: 12rem;
}

.sub-title{
    margin-bottom:40px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 34.56rem;
    display: block;
    border-radius: 10px;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.5) ,blue);
    border-radius: 10px;
    position:absolute;
    right: 100%;
    left: 50%;
    bottom: 1%;
    overflow:hidden;
    display: flex;
    align-items:left;
    justify-content:center;
    flex-direction: column;
    padding: 0 50px;
    text-align: left;
    font-size: 2rem;
    transition: height 0.5s;
}

.layer h3{
    color: #b54769;
    font-weight: 600;
    margin-bottom: 20px;

}

.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;

}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

/* CONTACT */

#contact{
    margin-top: 10rem;
}
.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
    font-size: 1.3rem;
}

.contact-left p i{
    color:#ff004f;
    margin-right: 15px;
    font-size: 30px;
}
.socila-media {
    margin-top: 30px;

}

.socila-media a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.socila-media a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}

.btn.btn2{
    font-size: 1.3rem;
    color: #ababab;
    display: inline-block;
    text-decoration: none;
    margin-top: 29px;
    transition: transform 0.5s;
}

.btn.btn2:hover{
    color:#ff004f;
    transform: translateY(-5px);
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    padding: 15px;
    background:#262626 ;
    color: #fff;
    margin: 15px 0;
    font-size: 18px;
    border-radius: 6px;
}

form .btn1{
    padding: 14px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

form button{
    font-size: 2rem;
    background: #262626;
    transition: transform 0.5s;
    color: #fff;
    border:0;
}

form button:hover{
    color: #ff004f;
    transform: translateY(-5px);
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
    font-size: 18px;
}

.copyright i{
    color: #ff004f;
}

/* css small scree*/

nav .fa-regular{
    display: none;
}

nav .fa-solid{
    display: none;
}


@media only screen and (max-width :600px){
    #header{
        background-image: url(image2.png);
    }
    .header-text{
        margin-top: 1%;
        font-size: 16px;
        text-align: center;
    }
    .header-text h3{
        font-size: 1rem;
        text-align: center;
    }

    .header-text span{
        font-size: 1.5rem;
    }

    nav .fa-regular{
        display: block;
        font-size: 25px;
    }
    
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }

    nav ul{
        background:var(--main-color);
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
        color: #080808;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul li a{
        color: #080808;
    }

    nav ul li a:after{
        content: ' ';
        width: 0;
        height: 5px;
        background:brown;
        position: absolute;
        left: 0;
        bottom: -6px;
        transition: 0.5s;
    }
    nav ul .fa-regular{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
        color: #080808;
    }

    nav ul .fa-solid{
        color: #080808;
    }

    .sub-title{
        font-size: 40px;
    }

    .about-col1, .about-col2{
        flex-basis: 100%;
    }

    .about-col1{
        margin-bottom: 40px;
    }

    .about-col2{
        font-size: 14px;
    }

    .sub-title{
        margin-bottom: 30px ;
        text-align: center;
    }

    .work img{
        width: 400px;
    }

    .layer{
        width: 100%;
        height: 0%;
        background: linear-gradient(rgba(0,0,0,0.5) ,blue);
        border-radius: 10px;
        position:absolute;
        right: 100%;
        left: 0%;
        bottom: 0%;
        overflow:hidden;
        display: flex;
        align-items:right;
        justify-content:center;
        flex-direction: column;
        padding: 0 50px;
        text-align: left;
        font-size: 1.5rem;
        transition: height 0.5s;
    }

    .contact-left, .contact-right{
        flex-basis: 100%;
    }

    .socila-links a{
        font-size:20px;
        margin-top: 20px;
    }
}

#msg{
    color: #61b752;
    margin-top: 10px;
    display: block;
}